:root {
    --blanco: rgb(255, 255, 255);
    --gris_claro: rgb(103, 105, 144);
    --morado-oscuro: rgb(31, 33, 56);
    --morado-claro: rgb(62, 66, 104);

    --crema_blanco: rgb(252, 252, 250);
    --rosa: rgb(213, 182, 216);
    --rosa-claro: rgb(253, 211, 231);

}
