@import url(colors.css);

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;

}


/** HEADER */
.nav-fondo {
    background-color: var(--morado-claro);
    min-height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.titulo {
    max-width: 16.4rem;
    color: var(--blanco);
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 2rem;
}


nav a {
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    transition: background-color .3s ease;
}

nav a:hover {
    cursor: pointer;
    background-color: var(--morado-oscuro);

}

@media (min-width: 760px) {
    .titulo {
        max-width: 35rem;
    }

    nav {
        flex-direction: row;
    }

}

/** MAIN */
.container {
    width: 100%;
    height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    background-image: linear-gradient(to top, var(--morado-claro) 0%, var(--gris_claro) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont--buttons {
    width: 80%;
    height: 20rem;
    background-color: rgba(255, 255, 255, .05);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

@media (min-width:460px) {
    .cont--buttons {
        width: 60%;
        flex-direction: row;
    }


}

.cont--buttons>button {
    width: 30%;
    padding: 2rem;

    border: none;
    border-radius: .8rem;

    text-align: center;

    background-color: var(--morado-oscuro);
    color: #fff;

    transition: background-color .3s ease transform .3s ease;



}

.cont--buttons>button:hover {
    cursor: pointer;
    background-color: var(--morado-claro);
    transform: scale(1.1);
    transition: background-color .3s ease transform .3s ease;

}



/** FOOTER */
footer {
    width: 100%;
    background-color: var(--morado-oscuro);
    padding: 1rem;
}

.contactos {
    display: flex;
    flex-direction: column;
    color: var(--blanco);

}

@media (min-width: 480px) {

    .contactos {
        display: grid;
        grid-template-columns: 50% 50%;

    }

    .contactos .contac-div {
        width: 60%;
        margin: auto;

    }

}


.imagen-footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen-footer img {
    width: 40%;

}

footer .fecha {
    color: var(--morado-claro);
    text-align: center;
    font-size: 1.5rem;
}